In [104]:
a= 10
b= 2
print("value of a is",a)
print("value of b is",b)

value of a is 10
value of b is 2

In [4]:
a= 10; b=20
print("value of a {} and value of b {}".format(a,b)) #dynamic concept by using format and indexing
print("value of a {} and value of b {}".format(b,a))
print("value of a {1} and value of b {0}".format(b,a))  
print(a,b)

value of a 10 and value of b 20
value of a 20 and value of b 10
value of a 10 and value of b 20
10 20

In [5]:
my ="country"; name_is ="India"              #pass by reference
print("i love my {1}, name_is {0}".format(name_is,my))

i love my country, name_is India

In [7]:
print("my name is {} {} from {}".format('Bill','Gate','Microsoft'))

my name is Bill Gate from Microsoft

In [9]:
num =int(input("Enter the input: ")) #input number by user
print (num)

Enter the input:  233

233

In [11]:
x= input("Enter the 1st digit: "),input("Enter the 2nd digit: "),input("Enter the 3rd digit: "),input("Enter the 4th digit: ")
print(x)              #gives tuples

Enter the 1st digit:  2
Enter the 2nd digit:  3
Enter the 3rd digit:  4
Enter the 4th digit:  5

('2', '3', '4', '5')

In [12]:
a= True
b=False
print(not b)

True

In [15]:
a=10
b=10
print(a is not b)

False

In [16]:
L1=[2,3,4]    ##lists are dynamic so they 
L2=[2,3,4]
print(L1 is L2)

False

In [18]:
L1={1,2,3,4}      
print(5 in L1)   #used to find a member of a list
print(5 not in L1)

False
True

In [24]:
num= 10
if None: #None,0,-1 is used to skip the condition of the if statement/it does not even consider the condition
    print("number is positive") 
print("This will always print")

number is positive
This will always print

In [26]:
#Nested loop
num= 15
if (num>=10 and 20>num):
   print("1st division")
elif (num>10 and 20<num):
    print("2nd division")
elif (num>10 and 20>=num):
    print("3rd division")
else:
    print("Fail")

1st division

In [30]:
num1= 70
num2= 100
num3= 77
if (num1>num2 and num1>num3):
    print(num1,"is the largest")
elif (num2>num1 and num2>num3):
    print(num2,"is the largest")
else:
    print(num3,"is the largest")

100 is the largest

In [31]:
a=[15,30,45]
product=2
for ele in a:
    product *=ele
    print(product)

30
900
40500

In [32]:
for i in range(10):
    print (i)

0
1
2
3
4
5
6
7
8
9

In [34]:
for i in range(15,46,15):   
   print(i)
else:
    print("No data available")

15
30
45
No data available

In [38]:
for i in range(1,11):
    if(i%2==0):
        print(i," is even")
    else:
        print(i,"is odd")

1 is odd
2  is even
3 is odd
4  is even
5 is odd
6  is even
7 is odd
8  is even
9 is odd
10  is even

In [43]:
for i in range(2,11):
    count=0
    for j in range(1,11):
        if(i%j==0):
            count+=1
    if(count==2):
        print(i,"is prime")

2 is prime
3 is prime
5 is prime
7 is prime

In [44]:
def show_name(name):               #def is used for deining functions in python
    print("Name is "+str(name))
show_name('Python')                 #function is called using function name along with the argument

Name is Python

In [51]:
def get_sum(lst):
    all=0                        #this function is to print the sum of all numbers in a list
    for num in lst:
        all+=num                   #here all is a local variable
    print(all)
    return all
    
lst1 = get_sum([2,3,4,5])

14

In [57]:
global_var= "this is global"
def lst():
    local_var="this is local"
    print(local_var)
    print(global_var)
lst()
print(local_var)
print(global_var)

this is local
this is global

NameError: name 'local_var' is not defined

# HCF Of 2 numbers

In [72]:

def hcf(num1,num2):
    if (num1<num2):
     small= num1
    else:
        small=num2
    for i in range(1,small+1):
        if((num1%i==0) and (num2%i==0)):
           hcf=i;
    return hcf
hcf(10,15)

5

In [74]:
lst= -100
print(abs(lst))

100

In [77]:
lst1=[1,2,3]
print(all(lst))

True

In [78]:
print(all(lst))

True

In [79]:
print(dir)

<built-in function dir>

In [82]:
lst=[10,20,30,40,50]
for index , num in enumerate(lst, start=1):
    print("index value {0} has value {1}".format(index,num))

index value 1 has value 10
index value 2 has value 20
index value 3 has value 30
index value 4 has value 40
index value 5 has value 50

# Lambda

In [92]:
lst_lst1= range(-10,10)
lst2_positive = list(filter(lambda n:n%2!=0,lst_lst1))
for i in lst2_positive:
    print(i)

-9
-7
-5
-3
-1
1
3
5
7
9

In [91]:
lst_lst1= range(-10,10)
lst2_positive = list(filter(lambda x:x>0,lst_lst1))
for i in lst2_positive:
    print(i)

1
2
3
4
5
6
7
8
9

In [95]:
lst = [1,2,3,4]
squared =[]
squared1= []
for num in lst:
    squared.append(num **2)
    squared1.append(num **3)
print(squared)
print(squared1)

[1, 4, 9, 16]
[1, 8, 27, 64]

In [96]:
def hallsquare(num):
    return (num **2)

In [99]:
squared = list(map(lambda x:x **2, [1,2,3,4]))
print(squared)

[1, 4, 9, 16]

In [101]:
product =1
lst = [1,2,3,4]
for num in lst:
    product *= num
print(product)

24

In [106]:
from functools import reduce 
def multiply(x,y):
    return x*y;
product = reduce(multiply,lst)
print(product)

24

In [103]:
lst = [1,2,3,4]
product = reduce(lambda x,y: x*y,lst)
print(product)

24

In [107]:
product = reduce(lambda x,y: x*y,[1,2,3,4])   #reduce works on double argument, Map works on single argument, Filter work on single argument
print(product)

24

# Calculator

In [2]:
product =lambda x,y: x*y
addition = lambda x,y: x+y
subtract =lambda x,y:x-y
division =lambda x,y:x/y

In [5]:
x=int(input("enter the first number" ))
y=int(input("enter the second number"))
print("1.Product\n 2.Addition\n 3.Subtraction\n 4.Division")
b=int(input("Enter the choice:"))
if(b==1):
  print(product(x,y))
elif(b==2):
    print(addition(x,y))
elif(b==3):
    print(subtract(x,y))
elif(b==4):
    print(division(x,y))
else:
    print("Invalid entry")

enter the first number 2
enter the second number 2

1.Product
 2.Addition
 3.Subtraction
 4.Division

Enter the choice: 1

4

In [19]:
def say(x,y,z=2):
    prod = x+y+z
    return prod
say(3,2)

7

In [20]:
def say(x,y):
    prod = x+y
    return prod
say(3,2)

5

In [21]:
def say(x=1,y):
    prod = x+y       #if value is assigned to first variable then it is mandatory to define the other arguments
    return prod
say(3,2)

SyntaxError: non-default argument follows default argument (1371685219.py, line 1)

In [22]:
def say(x=1,y=2,z=2):
    prod = x+y+z            
    return prod
say(3,2)

7

In [23]:
def say(x,y,z=2):
    prod = x+y+z
    return prod
say(3,2)

7

In [29]:
def say(x,y=1,z=2):
    prod = x+y+z
    return prod
say(3)

6

In [35]:
def say(x,y=2,z=2):
    prod = x+y+z
    return prod
say(3,2)

7

In [36]:
def say(x,y):
    prod = x+y
    return prod
say(3,2)

5

In [39]:
def say(x,y=5):
    prod = x+y
    return prod
say(3)

8

In [9]:
import os
os.getcwd()

'C:\\Users\\Administrator'

In [44]:
os.getenv("Home")

In [46]:
os.getcwd()

'C:\\Users\\Administrator'

In [106]:
os.getenv("/User/Administrator")
ust=open("my3.txt","w")
ust.write("this is 1st module \n")
ust.write("this is 2nd module")
ust.close()

NameError: name 'os' is not defined

In [101]:
ls=open("my3.txt","r")
ls.read()               #to read an existing file and display the contents in the file

'this is 1st module \nthis is 2nd module'

In [59]:
ust.seek(8)

8

In [61]:
ust.tell()

8

In [63]:
ust.read(8)

'le \nthis'

In [69]:
ust.seek(5)

5

In [80]:
ust.read(4)

''

In [82]:
ust.seek(0)

0

In [84]:
for line in ust:
    print(line)

In [104]:
ust.seek(0)
ust.readline()
ust=close()

NameError: name 'ust' is not defined

In [98]:
ust.close()

In [105]:
os.rename("my3.txt","module.txt")

NameError: name 'os' is not defined

In [110]:
os.listdir(os.getcwd())

['.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.scala_history',
 '3D Objects',
 'airflow_venv',
 'AppData',
 'Application Data',
 'Contacts',
 'Cookies',
 'Desktop',
 'Documents',
 'Downloads',
 'Favorites',
 'Links',
 'Local Settings',
 'Music',
 'My Documents',
 'my3.txt',
 'NetHood',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TM.blf',
 'NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'OneDrive',
 'Pictures',
 'PrintHood',
 'python training.ipynb',
 'Recent',
 'Saved Games',
 'Searches',
 'SendTo',
 'Start Menu',
 'Templates',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled2.ipynb',
 'Untitled3.ipynb',
 'Untitled4.ipynb',
 'Videos']

# Create a new directory

In [114]:
os.mkdir('Akhil')

In [116]:
os.listdir(os.getcwd())

['.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.scala_history',
 '3D Objects',
 'airflow_venv',
 'Akhil',
 'AppData',
 'Application Data',
 'Contacts',
 'Cookies',
 'Desktop',
 'Documents',
 'Downloads',
 'Favorites',
 'Links',
 'Local Settings',
 'Music',
 'My Documents',
 'my3.txt',
 'NetHood',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TM.blf',
 'NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'OneDrive',
 'Pictures',
 'PrintHood',
 'python training.ipynb',
 'Recent',
 'Sahil',
 'Saved Games',
 'Searches',
 'SendTo',
 'Start Menu',
 'Templates',
 'Untitled.ipynb',
 'Untitled1.ipynb',
 'Untitled2.ipynb',
 'Untitled3.ipynb',
 'Untitled4.ipynb',
 'Videos']

In [121]:
os.getenv("/User/Administrator/Akhil")

In [124]:
os.rmdir('Sahil')

In [10]:
os.chdir("/Users/Administrator/Akhil")
ust =open("Testing.txt","w")                                            #to create a file inside a new directory and write into the file
ust.write("This is for testing purposes only \n Do not delete this.")
ust.close()

FileNotFoundError: [WinError 2] The system cannot find the file specified: '/Users/Administrator/Akhil'

In [7]:
import shutil
shutil.rmtree("/Users/Administrator/Akhil")

FileNotFoundError: [WinError 3] The system cannot find the path specified: '/Users/Administrator/Akhil'

In [2]:
dir(__builtins__)

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BaseExceptionGroup',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EncodingWarning',
 'EnvironmentError',
 'Exception',
 'ExceptionGroup',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'WindowsError',
 'ZeroDivisionError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abs',
 'aiter',
 'all',
 'anext',
 'any',
 'ascii',
 'bin',
 'bool',
 'breakpoint',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'enumerate',
 'eval',
 'exec',
 'execfile',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'runfile',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

In [4]:
mst= ['b',0,2]
for entry in mst:

        print("Value is:",entry)
        k=1/int(entry)

Value is: b

ValueError: invalid literal for int() with base 10: 'b'

In [7]:
import sys
mst= ['b',0,2]
for entry in mst:
     try:
        print("Value is:",entry)
        k=1/int(entry) 
     except:
         print("sorry",sys.exc_info(),"occured.")
         print("next entry")

Value is: b
sorry (<class 'ValueError'>, ValueError("invalid literal for int() with base 10: 'b'"), <traceback object at 0x0000016302D65F40>) occured.
next entry
Value is: 0
sorry (<class 'ZeroDivisionError'>, ZeroDivisionError('division by zero'), <traceback object at 0x0000016302D653C0>) occured.
next entry
Value is: 2

In [9]:
import sys
mst= ['b',0,2]
for entry in mst:
     try:
        print("Value is:",entry)
        k=1/int(entry) 
     except(ValueError):
         print("this is ValueError")
     except(ZeroDivisionError):
         print("this is ZeroDivisionError")
     except:
          print("Other Error")

Value is: b
this is ValueError
Value is: 0
this is ZeroDivisionError
Value is: 2

In [33]:
import os 
os.chdir('/Users/Administrator/Desktop')
try:
    f=open('prwa.txt')
finally:
    print("final closed")

final closed

FileNotFoundError: [Errno 2] No such file or directory: 'prwa.txt'

In [15]:
try:
    f=open('prwa.txt')
except:
    print('Something went wrong')

Something went wrong

# Logging

In [17]:
import logging

In [19]:
logging.basicConfig(level=logging.INFO)

In [21]:
logging.debug("this is a debug message")

In [23]:
logging.info("App started")

INFO:root:App started

In [25]:
logging.warning("this is a warning")

WARNING:root:this is a warning

In [28]:
try:
    f=open('prwa.txt')
except:
    logging.error('Does not exist')

ERROR:root:Does not exist

# Pandas

In [30]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [35]:
pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp311-cp311-win_amd64.whl (11.6 MB)
     --------------------------------------- 11.6/11.6 MB 21.1 MB/s eta 0:00:00
Collecting numpy>=1.23.2
  Downloading numpy-2.2.5-cp311-cp311-win_amd64.whl (12.9 MB)
     --------------------------------------- 12.9/12.9 MB 24.2 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\program files\python311\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\program files\python311\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\program files\python311\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\program files\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Installing collected packages: numpy, pandas
Successfully installed numpy-2.2.5 pandas-2.2.3
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3 -> 25.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [38]:
import pandas as pd
fd =pd.read_csv("/Users/Administrator/Desktop/nyc_weather.csv")

In [41]:
fd.head(10)
fd.tail(30)

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.92,10,NaN,0,1,NaN,289
11,1/12/2016,35,15,53,29.85,10,6.0,T,4,NaN,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [43]:
fd.Events
fd.Humidity
fd.columns

Index(['EST', 'Temperature', 'DewPoint', 'Humidity', 'Sea Level PressureIn',
       'VisibilityMiles', 'WindSpeedMPH', 'PrecipitationIn', 'CloudCover',
       'Events', 'WindDirDegrees'],
      dtype='object')

In [85]:
fd.WindSpeedMPH.isna()
fd.WindSpeedMPH.isna().sum()

np.int64(3)

In [49]:
fd.count

<bound method DataFrame.count of           EST  Temperature  DewPoint  Humidity  Sea Level PressureIn  \
0    1/1/2016           38        23        52                 30.03
1    1/2/2016           36        18        46                 30.02
2    1/3/2016           40        21        47                 29.86
3    1/4/2016           25         9        44                 30.05
4    1/5/2016           20        -3        41                 30.57
5    1/6/2016           33         4        35                 30.50
6    1/7/2016           39        11        33                 30.28
7    1/8/2016           39        29        64                 30.20
8    1/9/2016           44        38        77                 30.16
9   1/10/2016           50        46        71                 29.59
10  1/11/2016           33         8        37                 29.92
11  1/12/2016           35        15        53                 29.85
12  1/13/2016           26         4        42                 29.94
13  1/14/2016           30        12        47                 29.95
14  1/15/2016           43        31        62                 29.82
15  1/16/2016           47        37        70                 29.52
16  1/17/2016           36        23        66                 29.78
17  1/18/2016           25         6        53                 29.83
18  1/19/2016           22         3        42                 30.03
19  1/20/2016           32        15        49                 30.13
20  1/21/2016           31        11        45                 30.15
21  1/22/2016           26         6        41                 30.21
22  1/23/2016           26        21        78                 29.77
23  1/24/2016           28        11        53                 29.92
24  1/25/2016           34        18        54                 30.25
25  1/26/2016           43        29        56                 30.03
26  1/27/2016           41        22        45                 30.03
27  1/28/2016           37        20        51                 29.90
28  1/29/2016           36        21        50                 29.58
29  1/30/2016           34        16        46                 30.01
30  1/31/2016           46        28        52                 29.90

    VisibilityMiles  WindSpeedMPH PrecipitationIn  CloudCover    Events  \
0                10           8.0               0           5       NaN
1                10           7.0               0           3       NaN
2                10           8.0               0           1       NaN
3                10           9.0               0           3       NaN
4                10           5.0               0           0       NaN
5                10           4.0               0           0       NaN
6                10           2.0               0           3       NaN
7                10           4.0               0           8       NaN
8                 9           8.0               T           8      Rain
9                 4           NaN             1.8           7      Rain
10               10           NaN               0           1       NaN
11               10           6.0               T           4       NaN
12               10          10.0               0           0       NaN
13               10           5.0               T           7       NaN
14                9           5.0               T           2       NaN
15                8           7.0            0.24           7      Rain
16                8           6.0            0.05           6  Fog-Snow
17                9          12.0               T           2      Snow
18               10          11.0               0           1       NaN
19               10           6.0               0           2       NaN
20               10           6.0               0           1       NaN
21                9           NaN            0.01           3      Snow
22                1          16.0            2.31           8  Fog-Snow
23                8           6.0               T           3      Snow
24               10           3.0               0           2       NaN
25               10           7.0               0           2       NaN
26               10           7.0               T           3      Rain
27               10           5.0               0           1       NaN
28               10           8.0               0           4       NaN
29               10           7.0               0           0       NaN
30               10           5.0               0           0       NaN

    WindDirDegrees
0              281
1              275
2              277
3              345
4              333
5              259
6              293
7               79
8               76
9              109
10             289
11             235
12             284
13             266
14             101
15             340
16             345
17             293
18             293
19             302
20             312
21              34
22              42
23             327
24             286
25             244
26             311
27             234
28             298
29             257
30             241  >

In [51]:
fd.describe()

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,CloudCover,WindDirDegrees
count,31.000000,31.000000,31.000000,31.000000,31.000000,28.000000,31.000000,31.000000
mean,34.677419,17.838710,51.677419,29.992903,9.193548,6.892857,3.129032,247.129032
std,7.639315,11.378626,11.634395,0.237237,1.939405,2.871821,2.629853,92.308086
min,20.000000,-3.000000,33.000000,29.520000,1.000000,2.000000,0.000000,34.000000
25%,29.000000,10.000000,44.500000,29.855000,9.000000,5.000000,1.000000,238.000000
50%,35.000000,18.000000,50.000000,30.010000,10.000000,6.500000,3.000000,281.000000
75%,39.500000,23.000000,55.000000,30.140000,10.000000,8.000000,4.500000,300.000000
max,50.000000,46.000000,78.000000,30.570000,10.000000,16.000000,8.000000,345.000000

In [53]:
fd.Temperature.count

<bound method Series.count of 0     38
1     36
2     40
3     25
4     20
5     33
6     39
7     39
8     44
9     50
10    33
11    35
12    26
13    30
14    43
15    47
16    36
17    25
18    22
19    32
20    31
21    26
22    26
23    28
24    34
25    43
26    41
27    37
28    36
29    34
30    46
Name: Temperature, dtype: int64>

In [57]:
fd.dtypes   #gives the datatypes of the values stored in the columns of the data
              #here EST contains date which has / which is not a number so it is identified as an object

EST                      object
Temperature               int64
DewPoint                  int64
Humidity                  int64
Sea Level PressureIn    float64
VisibilityMiles           int64
WindSpeedMPH            float64
PrecipitationIn          object
CloudCover                int64
Events                   object
WindDirDegrees            int64
dtype: object

In [59]:
fd.Events.unique() #gives the unique values in the column Events

array([nan, 'Rain', 'Fog-Snow', 'Snow'], dtype=object)

In [61]:
fd.WindSpeedMPH.describe()

count    28.000000
mean      6.892857
std       2.871821
min       2.000000
25%       5.000000
50%       6.500000
75%       8.000000
max      16.000000
Name: WindSpeedMPH, dtype: float64

In [63]:
fd.count()

EST                     31
Temperature             31
DewPoint                31
Humidity                31
Sea Level PressureIn    31
VisibilityMiles         31
WindSpeedMPH            28
PrecipitationIn         31
CloudCover              31
Events                   9
WindDirDegrees          31
dtype: int64

In [69]:
fd.Temperature.max()  #gives the max value in the column Temperature

np.int64(50)

In [72]:
fd.Temperature.min()

np.int64(20)

In [76]:
fd1= fd.Temperature>30
fd1.sum()

np.int64(22)

In [80]:
fd['EST'][fd['Humidity']==70]
fd['EST'][fd['Humidity']>=70]
fd['EST'][fd['WindSpeedMPH']==7.0]

1      1/2/2016
15    1/16/2016
25    1/26/2016
26    1/27/2016
29    1/30/2016
Name: EST, dtype: object

In [82]:
fd['EST'][fd['Events']== 'Snow']    #to check for a particular event in a column

17    1/18/2016
21    1/22/2016
23    1/24/2016
Name: EST, dtype: object

In [87]:
ust=[10,20,30,40]
s = pd.Series(ust)
print(s,type(s))

0    10
1    20
2    30
3    40
dtype: int64 <class 'pandas.core.series.Series'>

In [89]:
q1=[2,3,4]
q2=pd.Series(q1,index=['2nd',3,'4th'])
print(q2)

2nd    2
3      3
4th    4
dtype: int64

In [91]:
q1=[2,3,4]
q2=pd.Series(q1,index=['2nd',3,'4th'],name='c1')
print(q2)

2nd    2
3      3
4th    4
Name: c1, dtype: int64

In [93]:
s= pd.Series([10,20,30,40])
print(s,type(s))

0    10
1    20
2    30
3    40
dtype: int64 <class 'pandas.core.series.Series'>

In [95]:
print(s.loc[1:4])

1    20
2    30
3    40
dtype: int64

In [98]:
ust=(10,20,30,40)
s=pd.Series(ust,dtype='float32')
print(s)

0    10.0
1    20.0
2    30.0
3    40.0
dtype: float32

In [101]:
s[2]

np.float32(30.0)

In [103]:
s.shape

(4,)

In [106]:
ust=[10,'Ross',35,'Author']
s=pd.Series(ust,index=['Stno','Name','Marks','Desg'])
print(s)

Stno         10
Name       Ross
Marks        35
Desg     Author
dtype: object

In [108]:
s['Stno']

10

In [112]:
d1= {'sub1':'python','sub2':'java','sub3':'c'}
print(d1,type(d1))

{'sub1': 'python', 'sub2': 'java', 'sub3': 'c'} <class 'dict'>

In [114]:
d1.items()

dict_items([('sub1', 'python'), ('sub2', 'java'), ('sub3', 'c')])

In [116]:
d1.keys()

dict_keys(['sub1', 'sub2', 'sub3'])

In [118]:
d1.values()

dict_values(['python', 'java', 'c'])

# DataFrame

In [124]:
ust= [[10,20,30],[20,30,40],[30,40,50]]
ds= pd.DataFrame(ust)
print(df)

0    [10, 20, 30]
1    [20, 30, 40]
2    [30, 40, 50]
dtype: object

In [107]:
ust= [[10,20,30],[20,30,40],[30,40,50]]
df= pd.Series(ust)
print(df)

0    [10, 20, 30]
1    [20, 30, 40]
2    [30, 40, 50]
dtype: object

# iloc

In [126]:
ds.iloc[1:,:]

    0   1   2
1  20  30  40
2  30  40  50

In [128]:
ds.iloc[0:4]

    0   1   2
0  10  20  30
1  20  30  40
2  30  40  50

In [130]:
ds.iloc[1,2]

np.int64(40)

In [132]:
ds.iloc[2,2]

np.int64(50)

# Creating table using DataFrame

In [137]:
ust= [[10,20,30],[20,30,40],[30,40,50]]
ds= pd.DataFrame(ust,columns=['1st','marks','age'],index=[1,2,3])
print(ds)

   1st  marks  age
1   10     20   30
2   20     30   40
3   30     40   50

In [3]:
import pandas as pd
tup =(('Ross',23),('Gosling',34),('Travis',67),('Sam',35))
df= pd.DataFrame(tup,index=[1,2,'@',4],columns=['Name','Age'])
print(df)

      Name  Age
1     Ross   23
2  Gosling   34
@   Travis   67
4      Sam   35

# adding a new column

In [5]:
df['Salary']=[233,4566,345,1132]
df

      Name  Age  Salary
1     Ross   23     233
2  Gosling   34    4566
@   Travis   67     345
4      Sam   35    1132

In [8]:
dictdata= {'Names':['Richard','Gosling','Ryan','Sam'],'Subjects':['Python','Java','Maths','Science'],'Ages':[45,34,56,27]}
print(dictdata)

{'Names': ['Richard', 'Gosling', 'Ryan', 'Sam'], 'Subjects': ['Python', 'Java', 'Maths', 'Science'], 'Ages': [45, 34, 56, 27]}

In [10]:
df=pd.DataFrame(dictdata)
print(df)

     Names Subjects  Ages
0  Richard   Python    45
1  Gosling     Java    34
2     Ryan    Maths    56
3      Sam  Science    27

In [61]:
df=pd.DataFrame(dictdata,index=[1,'a',3,'b'])
print(df)

     Names Subjects  Ages
1  Richard   Python    45
a  Gosling     Java    34
3     Ryan    Maths    56
b      Sam  Science    27

In [47]:
l1=[15,25,35,45]
sdata =pd.Series(l1)
print(sdata,type(sdata))

0    15
1    25
2    35
3    45
dtype: int64 <class 'pandas.core.series.Series'>

# giving name to an existing column

In [48]:
df= pd.DataFrame(sdata,columns=['Number'])
print(df)

   Number
0      15
1      25
2      35
3      45

In [49]:
df.shape

(4, 1)

In [51]:
d1={'Totmark':[100,110,120,40],'Extramark':[30,47,90,37]}
df=pd.DataFrame(d1,index=[1,2,3,4])
df

   Totmark  Extramark
1      100         30
2      110         47
3      120         90
4       40         37

In [52]:
type(df)

pandas.core.frame.DataFrame

In [53]:
df.iloc[3:,:]

   Totmark  Extramark
4       40         37

In [54]:
df

   Totmark  Extramark
1      100         30
2      110         47
3      120         90
4       40         37

In [55]:
df['c3']=df['Totmark']+df['Extramark']
df

   Totmark  Extramark   c3
1      100         30  130
2      110         47  157
3      120         90  210
4       40         37   77

In [56]:
df['Sub']=df['Totmark']-df['Extramark']
df

   Totmark  Extramark   c3  Sub
1      100         30  130   70
2      110         47  157   63
3      120         90  210   30
4       40         37   77    3

In [57]:
df['New column']=['3rd','2nd','1st','4th']
df

   Totmark  Extramark   c3  Sub New column
1      100         30  130   70        3rd
2      110         47  157   63        2nd
3      120         90  210   30        1st
4       40         37   77    3        4th

In [59]:
df['Roll No']=range(1,5)         #adding new columns
df

   Totmark  Extramark   c3  Sub New column  Roll No
1      100         30  130   70        3rd        1
2      110         47  157   63        2nd        2
3      120         90  210   30        1st        3
4       40         37   77    3        4th        4

In [60]:
df=df[['Roll No','Totmark','Extramark','New column']]
df

   Roll No  Totmark  Extramark New column
1        1      100         30        3rd
2        2      110         47        2nd
3        3      120         90        1st
4        4       40         37        4th

In [63]:
df=pd.DataFrame(dictdata,index=[1,'a',3,'b'])
print(df)

     Names Subjects  Ages
1  Richard   Python    45
a  Gosling     Java    34
3     Ryan    Maths    56
b      Sam  Science    27

# sorting values

In [65]:
df= df.sort_values(['Names'],ascending=True)
df

     Names Subjects  Ages
a  Gosling     Java    34
1  Richard   Python    45
3     Ryan    Maths    56
b      Sam  Science    27

In [66]:
df= df.sort_values(['Names'],ascending=False)
df

     Names Subjects  Ages
b      Sam  Science    27
3     Ryan    Maths    56
1  Richard   Python    45
a  Gosling     Java    34

In [67]:
pip install scipy

Collecting scipy
  Downloading scipy-1.15.2-cp311-cp311-win_amd64.whl (41.2 MB)
     --------------------------------------- 41.2/41.2 MB 14.2 MB/s eta 0:00:00
Requirement already satisfied: numpy<2.5,>=1.23.5 in c:\program files\python311\lib\site-packages (from scipy) (2.2.5)
Installing collected packages: scipy
Successfully installed scipy-1.15.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3 -> 25.1
[notice] To update, run: python.exe -m pip install --upgrade pip

# Data analytics using pandas

In [69]:
import pandas as pd
fd =pd.read_csv("/Users/Administrator/Desktop/IPL MATCHES 2008-2020.csv")

In [70]:
fd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               816 non-null    int64
 1   city             803 non-null    object
 2   date             816 non-null    object
 3   player_of_match  812 non-null    object
 4   venue            816 non-null    object
 5   neutral_venue    816 non-null    int64
 6   team1            816 non-null    object
 7   team2            816 non-null    object
 8   toss_winner      816 non-null    object
 9   toss_decision    816 non-null    object
 10  winner           812 non-null    object
 11  result           812 non-null    object
 12  result_margin    799 non-null    float64
 13  eliminator       812 non-null    object
 14  method           19 non-null     object
 15  umpire1          816 non-null    object
 16  umpire2          816 non-null    object
dtypes: float64(1), int64(2), object(14)
memory usage: 108.5+ KB

In [71]:
fd.isnull().sum()

id                   0
city                13
date                 0
player_of_match      4
venue                0
neutral_venue        0
team1                0
team2                0
toss_winner          0
toss_decision        0
winner               4
result               4
result_margin       17
eliminator           4
method             797
umpire1              0
umpire2              0
dtype: int64

In [72]:
fd.head(10)
fd.tail(30)

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
786,1216522,Dubai,2020-10-17,AB de Villiers,Dubai International Cricket Stadium,0,Rajasthan Royals,Royal Challengers Bangalore,Rajasthan Royals,bat,Royal Challengers Bangalore,wickets,7.0,N,NaN,AK Chaudhary,Nitin Menon
787,1216523,Abu Dhabi,2020-10-10,KD Karthik,Sheikh Zayed Stadium,0,Kolkata Knight Riders,Kings XI Punjab,Kolkata Knight Riders,bat,Kolkata Knight Riders,runs,2.0,N,NaN,UV Gandhe,CB Gaffaney
788,1216524,Dubai,2020-10-27,WP Saha,Dubai International Cricket Stadium,0,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,Sunrisers Hyderabad,runs,88.0,N,NaN,AK Chaudhary,Nitin Menon
789,1216525,Dubai,2020-10-10,V Kohli,Dubai International Cricket Stadium,0,Royal Challengers Bangalore,Chennai Super Kings,Royal Challengers Bangalore,bat,Royal Challengers Bangalore,runs,37.0,N,NaN,AK Chaudhary,PR Reiffel
790,1216526,Abu Dhabi,2020-10-16,Q de Kock,Sheikh Zayed Stadium,0,Kolkata Knight Riders,Mumbai Indians,Kolkata Knight Riders,bat,Mumbai Indians,wickets,8.0,N,NaN,CB Gaffaney,VK Sharma
791,1216527,Sharjah,2020-09-27,SV Samson,Sharjah Cricket Stadium,0,Kings XI Punjab,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,4.0,N,NaN,RK Illingworth,K Srinivasan
792,1216528,Dubai,2020-10-13,RA Jadeja,Dubai International Cricket Stadium,0,Chennai Super Kings,Sunrisers Hyderabad,Chennai Super Kings,bat,Chennai Super Kings,runs,20.0,N,NaN,AK Chaudhary,PR Reiffel
793,1216529,Abu Dhabi,2020-10-11,Q de Kock,Sheikh Zayed Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,S Ravi
794,1216530,Dubai,2020-11-01,PJ Cummins,Dubai International Cricket Stadium,0,Kolkata Knight Riders,Rajasthan Royals,Rajasthan Royals,field,Kolkata Knight Riders,runs,60.0,N,NaN,Nitin Menon,PR Reiffel
795,1216531,Sharjah,2020-10-15,KL Rahul,Sharjah Cricket Stadium,0,Royal Challengers Bangalore,Kings XI Punjab,Royal Challengers Bangalore,bat,Kings XI Punjab,wickets,8.0,N,NaN,KN Ananthapadmanabhan,C Shamshuddin
796,1216532,Abu Dhabi,2020-09-29,Rashid Khan,Sheikh Zayed Stadium,0,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,Sunrisers Hyderabad,runs,15.0,N,NaN,VK Sharma,S Ravi
797,1216533,Abu Dhabi,2020-10-19,JC Buttler,Sheikh Zayed Stadium,0,Chennai Super Kings,Rajasthan Royals,Chennai Super Kings,bat,Rajasthan Royals,wickets,7.0,N,NaN,CB Gaffaney,VK Sharma
798,1216534,Dubai,2020-09-21,YS Chahal,Dubai International Cricket Stadium,0,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Royal Challengers Bangalore,runs,10.0,N,NaN,AY Dandekar,Nitin Menon
799,1216535,Dubai,2020-10-31,Ishan Kishan,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Mumbai Indians,field,Mumbai Indians,wickets,9.0,N,NaN,YC Barde,PR Reiffel
800,1216536,Dubai,2020-10-29,RD Gaikwad,Dubai International Cricket Stadium,0,Kolkata Knight Riders,Chennai Super Kings,Chennai Super Kings,field,Chennai Super Kings,wickets,6.0,N,NaN,C Shamshuddin,RK Illingworth
801,1216537,Abu Dhabi,2020-10-30,BA Stokes,Sheikh Zayed Stadium,0,Kings XI Punjab,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,7.0,N,NaN,CB Gaffaney,S Ravi
802,1216538,Sharjah,2020-10-04,TA Boult,Sharjah Cricket Stadium,0,Mumbai Indians,Sunrisers Hyderabad,Mumbai Indians,bat,Mumbai Indians,runs,34.0,N,NaN,KN Ananthapadmanabhan,RK Illingworth
803,1216539,Dubai,2020-09-25,PP Shaw,Dubai International Cricket Stadium,0,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,Delhi Capitals,runs,44.0,N,NaN,KN Ananthapadmanabhan,RK Illingworth
804,1216540,Sharjah,2020-10-12,AB de Villiers,Sharjah Cricket Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,bat,Royal Challengers Bangalore,runs,82.0,N,NaN,RK Illingworth,K Srinivasan
805,1216541,Abu Dhabi,2020-10-25,BA Stokes,Sheikh Zayed Stadium,0,Mumbai Indians,Rajasthan Royals,Mumbai Indians,bat,Rajasthan Royals,wickets,8.0,N,NaN,UV Gandhe,VK Sharma
806,1216542,Dubai,2020-10-08,JM Bairstow,Dubai International Cricket Stadium,0,Sunrisers Hyderabad,Kings XI Punjab,Sunrisers Hyderabad,bat,Sunrisers Hyderabad,runs,69.0,N,NaN,AK Chaudhary,Nitin Menon
807,1216543,Dubai,2020-10-14,A Nortje,Dubai International Cricket Stadium,0,Delhi Capitals,Rajasthan Royals,Delhi Capitals,bat,Delhi Capitals,runs,13.0,N,NaN,AK Chaudhary,Nitin Menon
808,1216544,Dubai,2020-10-25,RD Gaikwad,Dubai International Cricket Stadium,0,Royal Challengers Bangalore,Chennai Super Kings,Royal Challengers Bangalore,bat,Chennai Super Kings,wickets,8.0,N,NaN,C Shamshuddin,RK Illingworth
809,1216545,Abu Dhabi,2020-09-26,Shubman Gill,Sheikh Zayed Stadium,0,Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,7.0,N,NaN,CB Gaffaney,VK Sharma
810,1216546,Dubai,2020-10-20,S Dhawan,Dubai International Cricket Stadium,0,Delhi Capitals,Kings XI Punjab,Delhi Capitals,bat,Kings XI Punjab,wickets,5.0,N,NaN,C Shamshuddin,RK Illingworth
811,1216547,Dubai,2020-09-28,AB de Villiers,Dubai International Cricket Stadium,0,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Royal Challengers Bangalore,tie,NaN,Y,NaN,Nitin Menon,PR Reiffel
812,1237177,Dubai,2020-11-05,JJ Bumrah,Dubai International Cricket Stadium,0,Mumbai Indians,Delhi Capitals,Delhi Capitals,field,Mumbai Indians,runs,57.0,N,NaN,CB Gaffaney,Nitin Menon
813,1237178,Abu Dhabi,2020-11-06,KS Williamson,Sheikh Zayed Stadium,0,Royal Challengers Bangalore,Sunrisers Hyderabad,Sunrisers Hyderabad,field,Sunrisers Hyderabad,wickets,6.0,N,NaN,PR Reiffel,S Ravi
814,1237180,Abu Dhabi,2020-11-08,MP Stoinis,Sheikh Zayed Stadium,0,Delhi Capitals,Sunrisers Hyderabad,Delhi Capitals,bat,Delhi Capitals,runs,17.0,N,NaN,PR Reiffel,S Ravi
815,1237181,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon

In [73]:
fd.player_of_match

0         BB McCullum
1          MEK Hussey
2         MF Maharoof
3          MV Boucher
4           DJ Hussey
            ...
811    AB de Villiers
812         JJ Bumrah
813     KS Williamson
814        MP Stoinis
815          TA Boult
Name: player_of_match, Length: 816, dtype: object

In [75]:
fd.winner

0            Kolkata Knight Riders
1              Chennai Super Kings
2                 Delhi Daredevils
3      Royal Challengers Bangalore
4            Kolkata Knight Riders
                  ...
811    Royal Challengers Bangalore
812                 Mumbai Indians
813            Sunrisers Hyderabad
814                 Delhi Capitals
815                 Mumbai Indians
Name: winner, Length: 816, dtype: object

In [76]:
fd['id']=fd['id'].astype('float')
fd.dtypes

id                 float64
city                object
date                object
player_of_match     object
venue               object
neutral_venue        int64
team1               object
team2               object
toss_winner         object
toss_decision       object
winner              object
result              object
result_margin      float64
eliminator          object
method              object
umpire1             object
umpire2             object
dtype: object

In [77]:
fd[fd['city']=='Bangalore']

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982.0,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
10,335992.0,Bangalore,2008-04-26,SR Watson,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,7.0,N,NaN,MR Benson,IL Howell
14,335996.0,Bangalore,2008-04-28,MS Dhoni,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,13.0,N,NaN,BR Doctrove,RB Tiffin
24,336006.0,Bangalore,2008-05-05,S Sreesanth,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kings XI Punjab,Kings XI Punjab,field,Kings XI Punjab,wickets,6.0,N,NaN,SJ Davis,BR Doctrove
30,336012.0,Bangalore,2008-05-28,CRD Fernando,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Mumbai Indians,wickets,9.0,N,NaN,BF Bowden,AV Jayaprakash
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,1082621.0,Bangalore,2017-04-27,AJ Tye,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Gujarat Lions,Gujarat Lions,field,Gujarat Lions,wickets,7.0,N,NaN,AK Chaudhary,C Shamshuddin
618,1082633.0,Bangalore,2017-05-05,Sandeep Sharma,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kings XI Punjab,Royal Challengers Bangalore,field,Kings XI Punjab,runs,19.0,N,NaN,CB Gaffaney,C Shamshuddin
621,1082636.0,Bangalore,2017-05-07,SP Narine,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,field,Kolkata Knight Riders,wickets,6.0,N,NaN,AY Dandekar,C Shamshuddin
633,1082648.0,Bangalore,2017-05-17,NM Coulter-Nile,M Chinnaswamy Stadium,0,Sunrisers Hyderabad,Kolkata Knight Riders,Kolkata Knight Riders,field,Kolkata Knight Riders,wickets,7.0,N,D/L,AK Chaudhary,Nitin Menon
634,1082649.0,Bangalore,2017-05-19,KV Sharma,M Chinnaswamy Stadium,0,Mumbai Indians,Kolkata Knight Riders,Mumbai Indians,field,Mumbai Indians,wickets,6.0,N,NaN,NJ Llong,Nitin Menon

In [94]:
fd[fd['winner']=='Mumbai Indians']

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
15,335997.0,Kolkata,2008-04-29,ST Jayasuriya,Eden Gardens,0,Kolkata Knight Riders,Mumbai Indians,Kolkata Knight Riders,bat,Mumbai Indians,wickets,7.0,N,NaN,BF Bowden,AV Jayaprakash
22,336004.0,Mumbai,2008-05-04,SM Pollock,Dr DY Patil Sports Academy,0,Mumbai Indians,Delhi Daredevils,Delhi Daredevils,field,Mumbai Indians,runs,29.0,N,NaN,IL Howell,RE Koertzen
26,336008.0,Mumbai,2008-05-07,A Nehra,Dr DY Patil Sports Academy,0,Mumbai Indians,Rajasthan Royals,Mumbai Indians,field,Mumbai Indians,wickets,7.0,N,NaN,DJ Harper,RE Koertzen
30,336012.0,Bangalore,2008-05-28,CRD Fernando,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Mumbai Indians,wickets,9.0,N,NaN,BF Bowden,AV Jayaprakash
36,336018.0,Mumbai,2008-05-14,ST Jayasuriya,Wankhede Stadium,0,Mumbai Indians,Chennai Super Kings,Mumbai Indians,field,Mumbai Indians,wickets,9.0,N,NaN,BR Doctrove,AM Saheba
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
793,1216529.0,Abu Dhabi,2020-10-11,Q de Kock,Sheikh Zayed Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,S Ravi
799,1216535.0,Dubai,2020-10-31,Ishan Kishan,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Mumbai Indians,field,Mumbai Indians,wickets,9.0,N,NaN,YC Barde,PR Reiffel
802,1216538.0,Sharjah,2020-10-04,TA Boult,Sharjah Cricket Stadium,0,Mumbai Indians,Sunrisers Hyderabad,Mumbai Indians,bat,Mumbai Indians,runs,34.0,N,NaN,KN Ananthapadmanabhan,RK Illingworth
812,1237177.0,Dubai,2020-11-05,JJ Bumrah,Dubai International Cricket Stadium,0,Mumbai Indians,Delhi Capitals,Delhi Capitals,field,Mumbai Indians,runs,57.0,N,NaN,CB Gaffaney,Nitin Menon
815,1237181.0,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon

In [95]:
fd[fd['toss_winner']=='Delhi Capitals']

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
700,1175360.0,Delhi,2019-03-26,SR Watson,Feroz Shah Kotla,0,Delhi Capitals,Chennai Super Kings,Delhi Capitals,bat,Chennai Super Kings,wickets,6.0,N,NaN,M Erasmus,Nitin Menon
705,1175365.0,Delhi,2019-03-30,PP Shaw,Feroz Shah Kotla,0,Delhi Capitals,Kolkata Knight Riders,Delhi Capitals,field,Delhi Capitals,tie,NaN,Y,NaN,AY Dandekar,Nitin Menon
708,1175368.0,Chandigarh,2019-04-01,SM Curran,"Punjab Cricket Association IS Bindra Stadium, ...",0,Kings XI Punjab,Delhi Capitals,Delhi Capitals,field,Kings XI Punjab,runs,14.0,N,NaN,CB Gaffaney,AK Chaudhary
715,1178395.0,Bengaluru,2019-04-07,K Rabada,M.Chinnaswamy Stadium,0,Royal Challengers Bangalore,Delhi Capitals,Delhi Capitals,field,Delhi Capitals,wickets,4.0,N,NaN,YC Barde,S Ravi
721,1178401.0,Kolkata,2019-04-12,S Dhawan,Eden Gardens,0,Kolkata Knight Riders,Delhi Capitals,Delhi Capitals,field,Delhi Capitals,wickets,7.0,N,NaN,YC Barde,CK Nandan
732,1178412.0,Delhi,2019-04-20,SS Iyer,Feroz Shah Kotla,0,Delhi Capitals,Kings XI Punjab,Delhi Capitals,field,Delhi Capitals,wickets,5.0,N,NaN,UV Gandhe,C Shamshuddin
735,1178415.0,Jaipur,2019-04-22,RR Pant,Sawai Mansingh Stadium,0,Rajasthan Royals,Delhi Capitals,Delhi Capitals,field,Delhi Capitals,wickets,6.0,N,NaN,A Nand Kishore,S Ravi
741,1178421.0,Delhi,2019-04-28,S Dhawan,Feroz Shah Kotla,0,Delhi Capitals,Royal Challengers Bangalore,Delhi Capitals,bat,Delhi Capitals,runs,16.0,N,NaN,KN Ananthapadmanabhan,BNJ Oxenford
745,1178425.0,Chennai,2019-05-01,MS Dhoni,"MA Chidambaram Stadium, Chepauk",0,Chennai Super Kings,Delhi Capitals,Delhi Capitals,field,Chennai Super Kings,runs,80.0,N,NaN,AY Dandekar,Nitin Menon
753,1181766.0,Visakhapatnam,2019-05-08,RR Pant,Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...,0,Delhi Capitals,Sunrisers Hyderabad,Delhi Capitals,field,Delhi Capitals,wickets,2.0,N,NaN,BNJ Oxenford,S Ravi
761,1216497.0,Abu Dhabi,2020-10-24,CV Varun,Sheikh Zayed Stadium,0,Kolkata Knight Riders,Delhi Capitals,Delhi Capitals,field,Kolkata Knight Riders,runs,59.0,N,NaN,CB Gaffaney,PG Pathak
769,1216505.0,Abu Dhabi,2020-11-02,A Nortje,Sheikh Zayed Stadium,0,Royal Challengers Bangalore,Delhi Capitals,Delhi Capitals,field,Delhi Capitals,wickets,6.0,N,NaN,CB Gaffaney,S Ravi
788,1216524.0,Dubai,2020-10-27,WP Saha,Dubai International Cricket Stadium,0,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,Sunrisers Hyderabad,runs,88.0,N,NaN,AK Chaudhary,Nitin Menon
793,1216529.0,Abu Dhabi,2020-10-11,Q de Kock,Sheikh Zayed Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,S Ravi
796,1216532.0,Abu Dhabi,2020-09-29,Rashid Khan,Sheikh Zayed Stadium,0,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,Sunrisers Hyderabad,runs,15.0,N,NaN,VK Sharma,S Ravi
807,1216543.0,Dubai,2020-10-14,A Nortje,Dubai International Cricket Stadium,0,Delhi Capitals,Rajasthan Royals,Delhi Capitals,bat,Delhi Capitals,runs,13.0,N,NaN,AK Chaudhary,Nitin Menon
810,1216546.0,Dubai,2020-10-20,S Dhawan,Dubai International Cricket Stadium,0,Delhi Capitals,Kings XI Punjab,Delhi Capitals,bat,Kings XI Punjab,wickets,5.0,N,NaN,C Shamshuddin,RK Illingworth
812,1237177.0,Dubai,2020-11-05,JJ Bumrah,Dubai International Cricket Stadium,0,Mumbai Indians,Delhi Capitals,Delhi Capitals,field,Mumbai Indians,runs,57.0,N,NaN,CB Gaffaney,Nitin Menon
814,1237180.0,Abu Dhabi,2020-11-08,MP Stoinis,Sheikh Zayed Stadium,0,Delhi Capitals,Sunrisers Hyderabad,Delhi Capitals,bat,Delhi Capitals,runs,17.0,N,NaN,PR Reiffel,S Ravi
815,1237181.0,Dubai,2020-11-10,TA Boult,Dubai International Cricket Stadium,0,Delhi Capitals,Mumbai Indians,Delhi Capitals,bat,Mumbai Indians,wickets,5.0,N,NaN,CB Gaffaney,Nitin Menon

In [82]:
fd[fd['venue']=='M Chinnaswamy Stadium']

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
0,335982.0,Bangalore,2008-04-18,BB McCullum,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,N,NaN,Asad Rauf,RE Koertzen
10,335992.0,Bangalore,2008-04-26,SR Watson,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,7.0,N,NaN,MR Benson,IL Howell
14,335996.0,Bangalore,2008-04-28,MS Dhoni,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,13.0,N,NaN,BR Doctrove,RB Tiffin
24,336006.0,Bangalore,2008-05-05,S Sreesanth,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kings XI Punjab,Kings XI Punjab,field,Kings XI Punjab,wickets,6.0,N,NaN,SJ Davis,BR Doctrove
30,336012.0,Bangalore,2008-05-28,CRD Fernando,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,field,Mumbai Indians,wickets,9.0,N,NaN,BF Bowden,AV Jayaprakash
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,1082621.0,Bangalore,2017-04-27,AJ Tye,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Gujarat Lions,Gujarat Lions,field,Gujarat Lions,wickets,7.0,N,NaN,AK Chaudhary,C Shamshuddin
618,1082633.0,Bangalore,2017-05-05,Sandeep Sharma,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kings XI Punjab,Royal Challengers Bangalore,field,Kings XI Punjab,runs,19.0,N,NaN,CB Gaffaney,C Shamshuddin
621,1082636.0,Bangalore,2017-05-07,SP Narine,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,field,Kolkata Knight Riders,wickets,6.0,N,NaN,AY Dandekar,C Shamshuddin
633,1082648.0,Bangalore,2017-05-17,NM Coulter-Nile,M Chinnaswamy Stadium,0,Sunrisers Hyderabad,Kolkata Knight Riders,Kolkata Knight Riders,field,Kolkata Knight Riders,wickets,7.0,N,D/L,AK Chaudhary,Nitin Menon
634,1082649.0,Bangalore,2017-05-19,KV Sharma,M Chinnaswamy Stadium,0,Mumbai Indians,Kolkata Knight Riders,Mumbai Indians,field,Mumbai Indians,wickets,6.0,N,NaN,NJ Llong,Nitin Menon

In [84]:
fd[fd['player_of_match']=='MS Dhoni']

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
14,335996.0,Bangalore,2008-04-28,MS Dhoni,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,13.0,N,NaN,BR Doctrove,RB Tiffin
27,336009.0,Delhi,2008-05-08,MS Dhoni,Feroz Shah Kotla,0,Delhi Daredevils,Chennai Super Kings,Chennai Super Kings,field,Chennai Super Kings,wickets,4.0,N,NaN,Aleem Dar,RB Tiffin
84,392209.0,East London,2009-05-04,MS Dhoni,Buffalo Park,1,Chennai Super Kings,Deccan Chargers,Chennai Super Kings,bat,Chennai Super Kings,runs,78.0,N,NaN,BR Doctrove,M Erasmus
122,419113.0,Kolkata,2010-03-16,MS Dhoni,Eden Gardens,0,Kolkata Knight Riders,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,55.0,N,NaN,HDPK Dharmasena,AM Saheba
168,419159.0,Dharamsala,2010-04-18,MS Dhoni,Himachal Pradesh Cricket Association Stadium,0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,field,Chennai Super Kings,wickets,6.0,N,NaN,BF Bowden,AM Saheba
229,501253.0,Chennai,2011-05-12,MS Dhoni,"MA Chidambaram Stadium, Chepauk",0,Chennai Super Kings,Delhi Daredevils,Chennai Super Kings,bat,Chennai Super Kings,runs,18.0,N,NaN,AM Saheba,SL Shastri
319,548379.0,Bangalore,2012-05-23,MS Dhoni,M Chinnaswamy Stadium,0,Chennai Super Kings,Mumbai Indians,Mumbai Indians,field,Chennai Super Kings,runs,38.0,N,NaN,BF Bowden,HDPK Dharmasena
354,598030.0,Chennai,2013-04-25,MS Dhoni,"MA Chidambaram Stadium, Chepauk",0,Chennai Super Kings,Sunrisers Hyderabad,Sunrisers Hyderabad,bat,Chennai Super Kings,wickets,5.0,N,NaN,Aleem Dar,S Das
362,598038.0,Pune,2013-04-30,MS Dhoni,Subrata Roy Sahara Stadium,0,Pune Warriors,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,37.0,N,NaN,S Das,SJA Taufel
386,598062.0,Chennai,2013-05-14,MS Dhoni,"MA Chidambaram Stadium, Chepauk",0,Chennai Super Kings,Delhi Daredevils,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,N,NaN,C Shamshuddin,RJ Tucker
450,734035.0,Bangalore,2014-05-24,MS Dhoni,M Chinnaswamy Stadium,0,Royal Challengers Bangalore,Chennai Super Kings,Chennai Super Kings,field,Chennai Super Kings,wickets,8.0,N,NaN,AK Chaudhary,NJ Llong
569,981005.0,Visakhapatnam,2016-05-21,MS Dhoni,Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...,0,Rising Pune Supergiants,Kings XI Punjab,Kings XI Punjab,bat,Rising Pune Supergiants,wickets,4.0,N,NaN,HDPK Dharmasena,Nitin Menon
601,1082615.0,Pune,2017-04-22,MS Dhoni,Maharashtra Cricket Association Stadium,0,Rising Pune Supergiant,Sunrisers Hyderabad,Rising Pune Supergiant,field,Rising Pune Supergiant,wickets,6.0,N,NaN,AY Dandekar,A Deshmukh
659,1136584.0,Bengaluru,2018-04-25,MS Dhoni,M.Chinnaswamy Stadium,0,Royal Challengers Bangalore,Chennai Super Kings,Chennai Super Kings,field,Chennai Super Kings,wickets,5.0,N,NaN,NJ Llong,VK Sharma
707,1175367.0,Chennai,2019-03-31,MS Dhoni,"MA Chidambaram Stadium, Chepauk",0,Chennai Super Kings,Rajasthan Royals,Rajasthan Royals,field,Chennai Super Kings,runs,8.0,N,NaN,YC Barde,CK Nandan
720,1178400.0,Jaipur,2019-04-11,MS Dhoni,Sawai Mansingh Stadium,0,Rajasthan Royals,Chennai Super Kings,Chennai Super Kings,field,Chennai Super Kings,wickets,4.0,N,NaN,UV Gandhe,BNJ Oxenford
745,1178425.0,Chennai,2019-05-01,MS Dhoni,"MA Chidambaram Stadium, Chepauk",0,Chennai Super Kings,Delhi Capitals,Delhi Capitals,field,Chennai Super Kings,runs,80.0,N,NaN,AY Dandekar,Nitin Menon

# Merging 2 tables using merge()

In [96]:
df1 = pd.DataFrame({'ID': [1, 2, 3],'Name': ['Ali', 'Amar', 'Charles']})
df2 = pd.DataFrame({'ID': [1, 2, 4],'Score': [85, 90, 78]})
print(df1)
print(df2)

   ID     Name
0   1      Ali
1   2     Amar
2   3  Charles
   ID  Score
0   1     85
1   2     90
2   4     78

In [97]:
merged_df = df1.merge(df2, on='ID', how='inner')

In [98]:
print(merged_df)

   ID  Name  Score
0   1   Ali     85
1   2  Amar     90

In [99]:
merged_df = df1.merge(df2, on='ID', how='right')
print(merged_df)

   ID  Name  Score
0   1   Ali     85
1   2  Amar     90
2   4   NaN     78

In [100]:
merged_df = df1.merge(df2, on='ID', how='left')
print(merged_df)

   ID     Name  Score
0   1      Ali   85.0
1   2     Amar   90.0
2   3  Charles    NaN

In [102]:
fd[(fd['umpire1'] == 'AM Saheba') | (fd['umpire2'] == 'AM Saheba')]

,id,city,date,player_of_match,venue,neutral_venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,eliminator,method,umpire1,umpire2
6,335988.0,Hyderabad,2008-04-22,V Sehwag,"Rajiv Gandhi International Stadium, Uppal",0,Deccan Chargers,Delhi Daredevils,Deccan Chargers,bat,Delhi Daredevils,wickets,9.0,N,NaN,IL Howell,AM Saheba
9,335991.0,Chandigarh,2008-04-25,KC Sangakkara,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Mumbai Indians,Mumbai Indians,field,Kings XI Punjab,runs,66.0,N,NaN,Aleem Dar,AM Saheba
29,336011.0,Jaipur,2008-05-09,YK Pathan,Sawai Mansingh Stadium,0,Rajasthan Royals,Deccan Chargers,Rajasthan Royals,field,Rajasthan Royals,wickets,8.0,N,NaN,MR Benson,AM Saheba
32,336014.0,Hyderabad,2008-05-11,SC Ganguly,"Rajiv Gandhi International Stadium, Uppal",0,Deccan Chargers,Kolkata Knight Riders,Kolkata Knight Riders,bat,Kolkata Knight Riders,runs,23.0,N,NaN,IL Howell,AM Saheba
36,336018.0,Mumbai,2008-05-14,ST Jayasuriya,Wankhede Stadium,0,Mumbai Indians,Chennai Super Kings,Mumbai Indians,field,Mumbai Indians,wickets,9.0,N,NaN,BR Doctrove,AM Saheba
54,336037.0,Hyderabad,2008-05-27,SK Raina,"Rajiv Gandhi International Stadium, Uppal",0,Deccan Chargers,Chennai Super Kings,Deccan Chargers,bat,Chennai Super Kings,wickets,7.0,N,NaN,BG Jerling,AM Saheba
64,392188.0,Cape Town,2009-04-22,AC Gilchrist,Newlands,1,Royal Challengers Bangalore,Deccan Chargers,Deccan Chargers,bat,Deccan Chargers,runs,24.0,N,NaN,M Erasmus,AM Saheba
76,392201.0,Centurion,2009-04-30,DP Nannes,SuperSport Park,1,Deccan Chargers,Delhi Daredevils,Delhi Daredevils,field,Delhi Daredevils,wickets,6.0,N,NaN,GAV Baxter,AM Saheba
91,392216.0,Kimberley,2009-05-09,DPMD Jayawardene,De Beers Diamond Oval,1,Deccan Chargers,Kings XI Punjab,Kings XI Punjab,field,Kings XI Punjab,wickets,3.0,N,NaN,GAV Baxter,AM Saheba
118,419109.0,Kolkata,2010-03-14,MK Tiwary,Eden Gardens,0,Kolkata Knight Riders,Royal Challengers Bangalore,Kolkata Knight Riders,field,Kolkata Knight Riders,wickets,7.0,N,NaN,HDPK Dharmasena,AM Saheba
122,419113.0,Kolkata,2010-03-16,MS Dhoni,Eden Gardens,0,Kolkata Knight Riders,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,55.0,N,NaN,HDPK Dharmasena,AM Saheba
134,419125.0,Mumbai,2010-03-25,SR Tendulkar,Brabourne Stadium,0,Mumbai Indians,Chennai Super Kings,Mumbai Indians,field,Mumbai Indians,wickets,5.0,N,NaN,BF Bowden,AM Saheba
155,419146.0,Chandigarh,2010-04-09,KC Sangakkara,"Punjab Cricket Association Stadium, Mohali",0,Kings XI Punjab,Mumbai Indians,Mumbai Indians,bat,Kings XI Punjab,wickets,6.0,N,NaN,M Erasmus,AM Saheba
158,419149.0,Delhi,2010-04-11,PP Chawla,Feroz Shah Kotla,0,Delhi Daredevils,Kings XI Punjab,Delhi Daredevils,bat,Kings XI Punjab,wickets,7.0,N,NaN,BF Bowden,AM Saheba
165,419156.0,Dharamsala,2010-04-16,RG Sharma,Himachal Pradesh Cricket Association Stadium,0,Kings XI Punjab,Deccan Chargers,Deccan Chargers,field,Deccan Chargers,wickets,5.0,N,NaN,M Erasmus,AM Saheba
168,419159.0,Dharamsala,2010-04-18,MS Dhoni,Himachal Pradesh Cricket Association Stadium,0,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,field,Chennai Super Kings,wickets,6.0,N,NaN,BF Bowden,AM Saheba
178,501201.0,Delhi,2011-04-10,SL Malinga,Feroz Shah Kotla,0,Delhi Daredevils,Mumbai Indians,Delhi Daredevils,bat,Mumbai Indians,wickets,8.0,N,NaN,AM Saheba,RB Tiffin
190,501213.0,Mumbai,2011-04-17,Yuvraj Singh,Dr DY Patil Sports Academy,0,Pune Warriors,Delhi Daredevils,Delhi Daredevils,field,Delhi Daredevils,wickets,3.0,N,NaN,Asad Rauf,AM Saheba
194,501218.0,Mumbai,2011-04-20,MM Patel,Wankhede Stadium,0,Mumbai Indians,Pune Warriors,Pune Warriors,bat,Mumbai Indians,wickets,7.0,N,NaN,Asad Rauf,AM Saheba
197,501221.0,Mumbai,2011-04-22,Harbhajan Singh,Wankhede Stadium,0,Mumbai Indians,Chennai Super Kings,Chennai Super Kings,field,Mumbai Indians,runs,8.0,N,NaN,Asad Rauf,AM Saheba
210,501234.0,Kolkata,2011-04-30,Iqbal Abdulla,Eden Gardens,0,Kolkata Knight Riders,Kings XI Punjab,Kolkata Knight Riders,field,Kolkata Knight Riders,wickets,8.0,N,NaN,AM Saheba,SL Shastri
219,501243.0,Hyderabad,2011-05-05,V Sehwag,"Rajiv Gandhi International Stadium, Uppal",0,Deccan Chargers,Delhi Daredevils,Delhi Daredevils,field,Delhi Daredevils,wickets,4.0,N,NaN,Asad Rauf,AM Saheba
226,501250.0,Hyderabad,2011-05-10,MR Marsh,"Rajiv Gandhi International Stadium, Uppal",0,Deccan Chargers,Pune Warriors,Deccan Chargers,bat,Pune Warriors,wickets,6.0,N,NaN,Asad Rauf,AM Saheba
229,501253.0,Chennai,2011-05-12,MS Dhoni,"MA Chidambaram Stadium, Chepauk",0,Chennai Super Kings,Delhi Daredevils,Chennai Super Kings,bat,Chennai Super Kings,runs,18.0,N,NaN,AM Saheba,SL Shastri
236,501260.0,Dharamsala,2011-05-17,AC Gilchrist,Himachal Pradesh Cricket Association Stadium,0,Kings XI Punjab,Royal Challengers Bangalore,Kings XI Punjab,bat,Kings XI Punjab,runs,111.0,N,NaN,Asad Rauf,AM Saheba
240,501264.0,Dharamsala,2011-05-21,S Dhawan,Himachal Pradesh Cricket Association Stadium,0,Kings XI Punjab,Deccan Chargers,Kings XI Punjab,field,Deccan Chargers,runs,82.0,N,NaN,Asad Rauf,AM Saheba